---
import SectionHeadings from "../ui/SectionHeadings.astro";
---

<SectionHeadings
  className="mt-[3.75rem] lg:mt-[10.313rem]"
  title="Case Studies"
  content={`Explore Real-Life Examples of Our Proven Digital Marketing <br class="hidden lg:block"/> Success through Our Case Studies`}
/>

<!-- desktop card -->
<div
  class="bg-pvDark px-[3.75rem] py-[4.375rem] rounded-[2.813rem] xl:h-[20.375rem] text-white text-lg hidden sm:block"
>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <div class="lg:border-r border-white pb-4 lg:pb-0 lg:pr-6">
      <p class="mb-4">
        For a local restaurant, we implemented a targeted PPC campaign that
        resulted in a 50% increase in website traffic and a 25% increase in
        sales.
      </p>
      <a href="#" class="text-pvGreen flex items-center gap-x-[0.938rem]">
        Learn more
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none"
        >
          <path
            d="M1.25 13.701C0.532561 14.1152 0.286748 15.0326 0.700962 15.75C1.11518 16.4674 2.03256 16.7133 2.75 16.299L1.25 13.701ZM20.7694 5.38823C20.9838 4.58803 20.5089 3.76552 19.7087 3.55111L6.66874 0.0570541C5.86854 -0.157359 5.04603 0.317515 4.83162 1.11771C4.61721 1.91791 5.09208 2.74042 5.89228 2.95483L17.4834 6.06066L14.3776 17.6518C14.1631 18.452 14.638 19.2745 15.4382 19.4889C16.2384 19.7033 17.0609 19.2284 17.2753 18.4282L20.7694 5.38823ZM2.75 16.299L20.0705 6.29904L18.5705 3.70096L1.25 13.701L2.75 16.299Z"
            fill="#B9FF66"></path>
        </svg>
      </a>
    </div>

    <div class="lg:border-r border-white py-4 lg:py-0 lg:px-6">
      <p class="mb-4">
        For a B2B software company, we developed an SEO strategy that resulted
        in a first page ranking for key keywords and a 200% increase in organic
        traffic.
      </p>
      <a href="#" class="text-pvGreen flex items-center gap-x-[0.938rem]">
        Learn more
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none"
        >
          <path
            d="M1.25 13.701C0.532561 14.1152 0.286748 15.0326 0.700962 15.75C1.11518 16.4674 2.03256 16.7133 2.75 16.299L1.25 13.701ZM20.7694 5.38823C20.9838 4.58803 20.5089 3.76552 19.7087 3.55111L6.66874 0.0570541C5.86854 -0.157359 5.04603 0.317515 4.83162 1.11771C4.61721 1.91791 5.09208 2.74042 5.89228 2.95483L17.4834 6.06066L14.3776 17.6518C14.1631 18.452 14.638 19.2745 15.4382 19.4889C16.2384 19.7033 17.0609 19.2284 17.2753 18.4282L20.7694 5.38823ZM2.75 16.299L20.0705 6.29904L18.5705 3.70096L1.25 13.701L2.75 16.299Z"
            fill="#B9FF66"></path>
        </svg>
      </a>
    </div>

    <div class="pt-4 lg:pt-0 lg:pl-4">
      <p class="mb-4">
        For a national retail chain, we created a social media marketing
        campaign that increased followers by 25% and generated a 20% increase in
        online sales.
      </p>
      <a href="#" class="text-pvGreen flex items-center gap-x-[0.938rem]">
        Learn more
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none"
        >
          <path
            d="M1.25 13.701C0.532561 14.1152 0.286748 15.0326 0.700962 15.75C1.11518 16.4674 2.03256 16.7133 2.75 16.299L1.25 13.701ZM20.7694 5.38823C20.9838 4.58803 20.5089 3.76552 19.7087 3.55111L6.66874 0.0570541C5.86854 -0.157359 5.04603 0.317515 4.83162 1.11771C4.61721 1.91791 5.09208 2.74042 5.89228 2.95483L17.4834 6.06066L14.3776 17.6518C14.1631 18.452 14.638 19.2745 15.4382 19.4889C16.2384 19.7033 17.0609 19.2284 17.2753 18.4282L20.7694 5.38823ZM2.75 16.299L20.0705 6.29904L18.5705 3.70096L1.25 13.701L2.75 16.299Z"
            fill="#B9FF66"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
<!-- end -->

<!-- mobile card -->
<div
  class="flex items-center sm:hidden pt-10 gap-x-5 overflow-x-auto snap-x snap-mandatory scrollbar-hide"
>
  <div
    class="w-[21.875rem] bg-pvDark py-[2.625rem] px-[3.125rem] text-white text-lg rounded-[2.813rem] snap-center shrink-0"
  >
    <p class="mb-4">
      For a local restaurant, we implemented a targeted PPC campaign that
      resulted in a 50% increase in website traffic and a 25% increase in sales.
    </p>
    <a href="#" class="text-pvGreen flex items-center gap-x-[0.938rem]">
      Learn more
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
      >
        <path
          d="M1.25 13.701C0.532561 14.1152 0.286748 15.0326 0.700962 15.75C1.11518 16.4674 2.03256 16.7133 2.75 16.299L1.25 13.701ZM20.7694 5.38823C20.9838 4.58803 20.5089 3.76552 19.7087 3.55111L6.66874 0.0570541C5.86854 -0.157359 5.04603 0.317515 4.83162 1.11771C4.61721 1.91791 5.09208 2.74042 5.89228 2.95483L17.4834 6.06066L14.3776 17.6518C14.1631 18.452 14.638 19.2745 15.4382 19.4889C16.2384 19.7033 17.0609 19.2284 17.2753 18.4282L20.7694 5.38823ZM2.75 16.299L20.0705 6.29904L18.5705 3.70096L1.25 13.701L2.75 16.299Z"
          fill="#B9FF66"></path>
      </svg>
    </a>
  </div>
  <div
    class="w-[21.875rem] bg-pvDark py-[2.625rem] px-[3.125rem] text-white text-lg rounded-[2.813rem] snap-center shrink-0"
  >
    <p class="mb-4">
      For a local restaurant, we implemented a targeted PPC campaign that
      resulted in a 50% increase in website traffic and a 25% increase in sales.
    </p>
    <a href="#" class="text-pvGreen flex items-center gap-x-[0.938rem]">
      Learn more
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
      >
        <path
          d="M1.25 13.701C0.532561 14.1152 0.286748 15.0326 0.700962 15.75C1.11518 16.4674 2.03256 16.7133 2.75 16.299L1.25 13.701ZM20.7694 5.38823C20.9838 4.58803 20.5089 3.76552 19.7087 3.55111L6.66874 0.0570541C5.86854 -0.157359 5.04603 0.317515 4.83162 1.11771C4.61721 1.91791 5.09208 2.74042 5.89228 2.95483L17.4834 6.06066L14.3776 17.6518C14.1631 18.452 14.638 19.2745 15.4382 19.4889C16.2384 19.7033 17.0609 19.2284 17.2753 18.4282L20.7694 5.38823ZM2.75 16.299L20.0705 6.29904L18.5705 3.70096L1.25 13.701L2.75 16.299Z"
          fill="#B9FF66"></path>
      </svg>
    </a>
  </div>
  <div
    class="w-[21.875rem] bg-pvDark py-[2.625rem] px-[3.125rem] text-white text-lg rounded-[2.813rem] snap-center shrink-0"
  >
    <p class="mb-4">
      For a local restaurant, we implemented a targeted PPC campaign that
      resulted in a 50% increase in website traffic and a 25% increase in sales.
    </p>
    <a href="#" class="text-pvGreen flex items-center gap-x-[0.938rem]">
      Learn more
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
      >
        <path
          d="M1.25 13.701C0.532561 14.1152 0.286748 15.0326 0.700962 15.75C1.11518 16.4674 2.03256 16.7133 2.75 16.299L1.25 13.701ZM20.7694 5.38823C20.9838 4.58803 20.5089 3.76552 19.7087 3.55111L6.66874 0.0570541C5.86854 -0.157359 5.04603 0.317515 4.83162 1.11771C4.61721 1.91791 5.09208 2.74042 5.89228 2.95483L17.4834 6.06066L14.3776 17.6518C14.1631 18.452 14.638 19.2745 15.4382 19.4889C16.2384 19.7033 17.0609 19.2284 17.2753 18.4282L20.7694 5.38823ZM2.75 16.299L20.0705 6.29904L18.5705 3.70096L1.25 13.701L2.75 16.299Z"
          fill="#B9FF66"></path>
      </svg>
    </a>
  </div>
</div>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .pv-mobile-carousel {
    scroll-snap-align: center;
  }
</style>
