---
import SectionHeadings from "../ui/SectionHeadings.astro";


---

<SectionHeadings
    className="mt-[3.75rem] lg:mt-[10.313rem]"
    title="Case Studies"
    content={`Explore Real-Life Examples of Our Proven Digital Marketing <br class="hidden md:block"/> Success through Our Case Studies`}
/>

<div class="bg-pvDark px-[3.75rem] py-[4.375rem] rounded-[2.813rem] lg:h-[20.375rem] text-white text-lg flex items-center justify-between">
    <div class="flex flex-col gap-y-[1.25rem] ">
        <p>For a local restaurant, we implemented a targeted PPC campaign that resulted in a 50% increase in website traffic and a 25% increase in sales.</p>
        <span>Learn more</span>
    </div>
    <div class="flex flex-col gap-y-[1.25rem]">
        <p>For a B2B software company, we developed an SEO strategy that resulted in a first page ranking for key keywords and a 200% increase in organic traffic.</p>
        <span>Learn more</span>
    </div>
    <div class="flex flex-col gap-y-[1.25rem]">
        <p>For a national retail chain, we created a social media marketing campaign that increased followers by 25% and generated a 20% increase in online sales.</p>
        <span>Learn more</span>
    </div>
</div>