---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/pages/Hero.astro";
import Services from '../components/pages/Services.astro'
import CaseStudy from '../components/pages/CaseStudy.astro'
---

<Layout title="Positivus - Navigating the digital landscape for success.">
  <Hero />
  <div class="mt-[3.75rem] md:mt-[9.75rem] px-[1.25rem] md:container max-w-7xl">
    <Services />
    <CaseStudy />
  </div>
</Layout>

