---
interface Props {
  variant?: "gray" | "dark" | "green";
  cardType?: 'default' | 'accordion-style' | 'content-driven'
  className?:string
}

const { variant = "gray", cardType = 'default' , className} = Astro.props;

const variantClasses = {
  gray: "bg-pvGrey",
  dark: "bg-pvDark",
  green: "bg-pvGreen",
};
---

{cardType === 'default' && (
  <div
    class:list={[
      variantClasses[variant],
      "md:flex md:items-center md:gap-x-[4.313rem] border border-pvDark w-full p-[3.125rem] rounded-[2.813rem] h-[20.125rem] lg:h-[19.375rem] mb-[1.875rem] lg:mb-0 shadow-card-shadow transition ease-in-out delay-50 duration-300 hover:-translate-y-1 select-none",
    ]}
  >
    <div class="h-full flex flex-col justify-between flex-1">
      {Astro.slots.has("card-title") && <slot name="card-title" />}
      {Astro.slots.has("card-link") && <slot name="card-link" />}
    </div>
    <div class="flex-1">
      {Astro.slots.has("card-image") && <slot name="card-image" />}
    </div>
  </div>
)}

{cardType === 'accordion-style' && (
  <div
   x-data="{ expanded: false }"
    class={`border border-pvDark w-full rounded-[2.813rem] p-[1.875rem] lg:py-[2.563rem] lg:px-[3.75rem] mb-[1.875rem] lg:mb-0 shadow-card-shadow transition ease-in-out delay-50 duration-300 hover:-translate-y-1 bg-pvGrey ${className}`}
    :class="[expanded && `lg:h-[19.375rem] !bg-pvGreen`]"
  >
   <div>
    <div :class="expanded && 'mb-[1.875rem]'">
    {Astro.slots.has("top-section") && <slot name="top-section" />}
   </div>
   <div :class="expanded && 'border-t border-black'">
    {Astro.slots.has("content-section") && <slot name="content-section" />}
   </div>
   </div>
  </div>
)}



{cardType === 'content-driven' && (
   <div
    class="md:flex md:items-center md:gap-x-[4.313rem] bg-white border border-pvDark w-full p-[3.125rem] rounded-[2.813rem] h-[20.125rem] lg:h-[19.375rem] mb-[1.875rem] lg:mb-0 shadow-card-shadow transition ease-in-out delay-50 duration-300 hover:-translate-y-1 select-none"
  >
    <slot></slot>
  </div>
)}

<!-- would have been better if I had just one card type yeahh? -->