---
interface Props {
    title:string,
    content:string,
    className?:string
}

const { title, content, className } = Astro.props
---

<div class={`flex items-center justify-center flex-col md:justify-start md:gap-x-10 md:flex-row mb-[2.5rem] md:mb-[5rem] ${className}`}>
    <div class="mb-[1.875rem] md:mb-0 items-center text-center lg:text-left">
        <p class="rounded-[0.438rem] px-[0.438rem] bg-pvGreen inline text-black text-[2.25rem] md:text-[2.5rem] font-medium md:leading-[3.19rem] select-none box-decoration-clone leading-tight">{title}</p>
    </div>
    <span set:html={content} class="font-normal md:text-lg leading-6 text-center md:text-left md:leading-[1.436rem]"></span>
</div>